/* Cores usadas:
box-shadow - rgb(143, 0, 74)
letras - rgb(143, 0, 74)
fundo - #fbdbda
fundo2 - #fabec3
header - #dc0a6e
titulo - #db4a82
*/

*{
    box-sizing: border-box;
    font-family: 'Agrandir Grand Heavy', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fbdbda;
}

.titulo{
    text-align: center;
    width: 750px;
    margin: auto;
    font-size: 30px;
    color: #db4a82;
    font-weight: bold;
}

/*Header-----------------------------------------------------------------------------------*/
.header{
    width: 100%;
    background-color: #dc0a6e;
    display: flex; 
    height: 150px;
    box-shadow: 0px 0px 10px rgb(143, 0, 74);
    font-size: 14px;
}

.pitchula{
    height: 90%;
}

.logo{
    height: 40%;
    margin-left: -10px;
    margin-top: 4%;
}

.menu{
    margin-top: 5%;
    display: flex;
    margin-left: auto;
}

.link{
    color: white;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    transition: transform 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.link:hover{
    color: #fbdbda;
    transform: scale(1.1);
}

/*Footer-----------------------------------------------------------------------------------*/
.footer {
    background-color: #dc0a6e;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(143, 0, 74);
    max-width: 1200px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }

/*Responsividade do header*/
@media (max-width: 768px) {
    .header-site-CG {
        padding: 15px;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .logo_CG {
        width: 50%;
        max-width: 150px;
    }

    .menu_topo_CG {
        width: 100%;
    }

    .CG_menu {
        flex-direction: column;
        align-items: center;
    }

    .secundario_menu_CG_1 {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .secundario_link {
        font-size: 12px;
        padding: 5px 10px;
    }
}

/*index-----------------------------------------------------------------------------------*/

/*Slider*/
.slider{
    margin: 0 auto; /*Posiciona o carrossel de imagens no centro da tela*/
    width: 1000px;
    height: 500px;
    overflow: hidden; /*Para que não apareça todas as imagens*/
}

.slides{ /*Possui os radios e os slides*/
    width: 400%;
    height: 400px;
    display: flex; /*Usa flexbox para alinhar os slides horizontalmente*/
}

.slides input{ /*Ocultar os inputs de tipo radio*/

    display: none;

}

.slide{ /*Ajustando as imagens*/
    width: 25%;
    position: relative; /*Permite que o slide tenha um posicionamento relativo para ajustar seu layout*/
    transition: 2s; /*Deixa a mudança entre as imagens mais suave quando o JS for acionado.*/
}

.slide img{ /*Ajustando cada um das imagens*/

    width: 950px;

}

.manual-navigation{

    position: absolute; /* Posiciona a navegação manual de forma absoluta dentro do slider*/
    width: 550px;
    margin-top: 60px; /*Move a navegação manual para cima em 40px*/
    display: flex; /*Exibe os botões de navegação em linha*/
    /*justify-content: center; /*Centraliza os botões de navegação manual*/
    justify-content:flex-end; /* Alinha as bolinhas de navegação manual à direita*/
    margin-left: 50px; /* Adiciona um espaço da borda direita */

}

.manual-btn{

    border: 2px solid white;
    padding: 5px; /*Adiciona um preenchimento de 5px aos botões*/
    border-radius: 10px;
    cursor: pointer; /*Muda o cursor para uma mãozinha ao passar por cima do botão*/
    transition: 1s; /*Adiciona uma transição suave de 1 segundo ao botão*/

}

.manual-btn:not(:last-child){ /*Espaçamento dos botões - menos no último*/

    margin-right: 60px;

}


.manual-btn:hover{ /*Muda a cor de fundo quando o botão é clicado*/
    background-color: white;
}

#radio1:checked ~.first{ /*Quando o primeiro botão estiver marcado, o primeiro slide aparece de maneira padrão*/
    margin-left: 0;
}

#radio2:checked ~.first{ /*Quando o segundo botão estiver marcado, o segundo slide aparece de maneira padrão*/
    margin-left: -25%;
}

#radio3:checked ~.first{ /*Quando o terceiro botão estiver marcado, o terceiro slide aparece de maneira padrão*/
    margin-left: -50%;
}

#radio4:checked ~.first{ /*Quando o quarto botão estiver marcado, o quarto slide aparece de maneira padrão*/
    margin-left: -75%;
}

.navigation-auto div{ /*Refere-se aos botões de navegação automáticos*/

    border: 2px solid white;
    padding: 5px; /* Adiciona um preenchimento de 5px aos botões de navegação automática */
    border-radius: 10px;
    cursor: pointer; /* Muda o cursor para uma mãozinha ao passar por cima do botão */
    transition: 1s; /* Adiciona uma transição suave de 1 segundo ao botão */

}

.navigation-auto{

    position: absolute; /* Posiciona a navegação automática de forma absoluta dentro do slider */
    width: 550px;
    margin-top: 460px; /* Move a navegação automática para baixo */
    display: flex;  /* Exibe os botões de navegação automática em linha */
    /*justify-content: center; /* Centraliza os botões de navegação automática */
    justify-content: flex-end; /* Alinha as bolinhas de navegação automática à direita*/
    margin-left: 50px; /* Adiciona um espaço da borda direita */

}

.navigation-auto div:not(:last-child){

    margin-right: 60px; /* Adiciona uma margem à direita de 40px, exceto no último botão */

}


#radio1:checked ~.navigation-auto .auto-btn1{  /* Quando o primeiro botão de rádio é selecionado, o primeiro botão de navegação automática fica colorido */
    background-color: white;
}

#radio2:checked ~.navigation-auto .auto-btn2{  /* Quando o segundo botão de rádio é selecionado, o segundo botão de navegação automática fica colorido */
    background-color: white;
}

#radio3:checked ~.navigation-auto .auto-btn3{  /* Quando o terceiro botão de rádio é selecionado, o terceiro botão de navegação automática fica colorido */
    background-color: white;
}

#radio4:checked ~.navigation-auto .auto-btn4{  /* Quando o quarto botão de rádio é selecionado, o quarto botão de navegação automática fica colorido */
    background-color: white;
}

.description{
    text-align: center;
    width: 650px;
    margin: auto;
    font-size: 20px;
    color: rgb(143, 0, 74);
}
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-content {
      margin-bottom: 15px;
    }
  }


/*Galeria----------------------------------------------------------------------------------*/
input {
    display: none;
}

.container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-weight: normal;
    color: #dc0a6e;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #dc0a6e;
    bottom: -10px;
    left: 50%;
    transform: translatex(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        width: 100px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 100px;
    }
}

.botoes_galeria {
    color: rgb(143, 0, 74);
}

.top-content {
    background-color: #fabec3;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 5px;
    border: solid 1px rgb(143, 0, 74);
}

label {
    display: inline-block;
    padding: 5px 10px;
}

label a {
    text-decoration: none; 
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease; 
}

label a:hover {
    color: #dc0a6e; /* Cor cinza mais clara ao passar o mouse */
    transform: scale(1.05); /* Leve aumento no tamanho ao passar o mouse */
}

.photo-gallery .pic video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz o vídeo cobrir completamente o espaço disponível, sem distorção */
    border-radius: 10px;
}

/* Galeria de fotos */
.photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.pic {
    position: relative;
    height: 230px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s;
}

.pic:hover{
    transform: scale(1.1);
}

/*Footer*/
.footer {
    background-color: #dc0a6e;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-content p {
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .footer-social {
    display: flex;
    gap: 10px;
  }

  .rata_footer{
    width: 100%;
    max-width: 65px;
  }
  
  .link-logos{
    display: inline-block;
  }
  
  .logos-footer{
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
  }
  
  .footer-social img:hover {
    transform: scale(1.2);
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-content {
      margin-bottom: 15px;
    }
  }
